body{
    background-color: rgb(205, 235, 242);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(41, 32, 32);
}

div{
    width: 70%;
   background-color: rgb(0, 207, 59);
}